.works {
    display: flex;
    justify-content: space-between;
}

.works__col {
    @include MQ_WIDE {
        border-radius: 18px;
        cursor: pointer;
        width: 270px;
        height: 240px;
    }
    position: relative;
    margin-top: 40px;
    box-shadow: 0 10px 26px rgba($color: #9ccaf8, $alpha: 0.3);

    &__thumbnail {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 22px;
            object-fit: cover;
        }
    }

    &__ttl {
        font-size: vw(16);
        @include MQ_WIDE {
            font-size: 14px;
        }
    }
}
