.header {
    background: #fff;
    box-sizing: border-box;
    padding: vw(20) 0;
    width: 100%;

    @include MQ_WIDE {
        padding: 36px 0;
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: vw(110);
    @include fxdPosition(vw(25), vw(20));
    z-index: 100;

    @include MQ_WIDE {
        width: 192px;
        position: inherit;
    }
}

.nav {
    display: flex;
    align-items: center;

    .contact__btn {
        border: 2px solid $primary-color;
        border-radius: 30px;
        color: $primary-color;
        transition: 0.3s;

        @include MQ_WIDE {
            padding: 12px 20px;
            margin-left: 54px;

            &:hover {
                background-color: $primary-color;
                color: #fff;
                transform: translateY(-3px);
            }
        }
    }
}

.navmenu {
    margin-left: auto;
    color: $secondary-color;

    @include MQ_WIDE {
        display: flex;
    }

    :nth-of-type(n + 2) {
        @include MQ_WIDE {
            padding-left: 54px;
        }
    }

    li {
        transition: 0.3s;
        &:hover {
            color: $primary-color;
            transform: translateY(-3px);
        }
    }
}

.menu__nrw {
    background: $primary-color;
    width: 100%;
    height: 100%;
}

.menu__icon {
    cursor: pointer;
    @include fxdPosition(vw(35), null, null, vw(25));
    z-index: 999;

    .menu__btn {
        background: $primary-color;
        width: 22px;
        height: 3px;
        border-radius: 10px;
        display: block;
        margin-bottom: 7px;
    }
}

.menu__logo {
    width: vw(110);
    @include absPosition(vw(25), vw(20));
}
.open_bar {
    background: #fff;
    width: 22px;
    height: 3px;
    border-radius: 10px;
    display: block;
    margin-bottom: 7px;
    transition: 0.3s ease;

    &:first-child {
        transform: translateY(4px) rotate(45deg);
    }
    &:nth-child(2) {
        transform: translateY(-6px) rotate(-45deg);
        margin-bottom: 0;
    }
}
.close {
    display: none;
    transition: 1s;
}

.menu__box {
    @include fxdPosition(0, 0);
    background: rgba($color: #172b4d, $alpha: 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 80%;
    margin: vw(100) auto 0;
    padding: 5.3%;
    opacity: 1;
    transition: 1s;

    &__col {
        color: #fff;
        font-size: vw(18);

        a {
            padding-left: 10px;
        }
    }
}
