.wrap {
    background-color: #fff;
    color: $primary-color;
    overflow: hidden;
    width: 100%;
}

.main {
    // background: url(#{$rootDir}/assets/img/common/ph_fly_pc.png) repeat-y top center;
    scroll-behavior: smooth;
}

.inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 5.3%;

    @include MQ_WIDE {
        max-width: 1200px;
        padding: 0 20px;
        min-height: 100vh;
    }
}
