.about {
    background: #eff4fa;
    margin: vw(110) auto 0;

    @include MQ_WIDE {
        margin-top: 170px;
    }

    &__inner {
        margin: 0 auto;

        @include MQ_WIDE {
            width: 1020px;
            padding: 38px 0;
        }

        &.__about__inner {
            padding: 82px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
