.about {
    background: #eff4fa;
    margin: vw(110) auto 0;

    @include MQ_WIDE {
        margin-top: 170px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
