.mv {
    width: 100%;
    height: 100%;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        @include MQ_WIDE {
            height: 70vh;
            flex-direction: row;
        }
    }

    &__catch {
        order: 2;
        @include MQ_WIDE {
            width: 50%;
            order: 1;
        }
    }

    &__maincopy {
        font-size: vw(32);
        font-weight: 500;
        color: $primary-color;

        @include MQ_WIDE {
            font-size: 62px;
            line-height: 1.25;
        }
    }

    &__subcopy {
        color: $secondary-color;
        font-size: vw(14);

        @include MQ_WIDE {
            font-size: 16px;
            margin-top: 68px;
            line-height: 1.7;
        }
    }

    &__anim {
        order: 1;
        width: 100%;

        @include MQ_WIDE {
            order: 2;
            width: 626px;
        }
    }
}

// scroll down
.scrollDown {
    margin: vw(60) auto 0;
    border: 2px solid $primary-color;
    width: 14px;
    height: 22px;
    border-radius: vw(11);
    position: relative;

    @include MQ_WIDE {
        border-radius: 10px;
        margin-top: 40px;
    }

    &:before {
        animation: circleAnim 2s ease infinite;
        content: '';
        display: block;
        margin: 2px auto 0;
        // @include absPosition(2px, 50%);
        // transform: translateX(-50%);
        background: $primary-color;
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }
}

.scrollTxt {
    margin: 0 auto;
    color: $primary-color;
    text-align: center;
    font-size: vw(10);
    width: 100%;

    @include MQ_WIDE {
        margin-top: 4px;
        font-size: 10px;
    }
}

@keyframes circleAnim {
    0% {
        transform: translateY(-1px);
        opacity: 1;
    }
    100% {
        transform: translateY(6px);
        opacity: 0;
    }
}
