.works {
    margin: vw(100) 0 0;

    @include MQ_WIDE {
        margin: 80px 0 0;
    }
}

.works__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $primary-color;
    @include MQ_WIDE {
        // flex-wrap: nowrap;
    }
}

.works__col {
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    width: calc(100% / 2 - 20px);

    @include MQ_WIDE {
        width: calc(100% / 4 - 20px);
    }

    &__thumbnail {
        width: 100%;
        box-shadow: 0 10px 20px rgba($color: #9ccaf8, $alpha: 0.2);
        height: vw(170);
        border-radius: vw(16);

        @include MQ_WIDE {
            box-shadow: 0 10px 26px rgba($color: #9ccaf8, $alpha: 0.2);
            height: 220px;
            border-radius: 18px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: vw(16);
            object-fit: cover;

            @include MQ_WIDE {
                border-radius: 18px;
            }
        }
    }

    &__ttl {
        font-size: vw(16);
        font-weight: 500;
        margin-top: vw(10);

        @include MQ_WIDE {
            font-size: 16px;
            margin-top: 20px;
        }
    }
}

.more {
    border: 2px solid $primary-color;
    border-radius: vw(12);
    color: $primary-color;
    font-size: vw(16);
    display: block;
    margin: 0 auto;
    text-align: center;
    width: vw(200);
    height: vw(40);
    transition: 0.3s;

    @include MQ_WIDE {
        font-size: 16px;
        width: 130px;
        margin: 60px auto 0;
        height: 40px;
        border-radius: 12px;

        &:hover {
            background: $primary-color;
            color: #fff;
        }
    }

    a {
        display: block;
        width: 100%;
        position: relative;
        font-weight: 500;

        &::after {
            background: url(../../public/img/ico_arrow_right.svg) no-repeat center;
            display: inline-block;
            content: '';
            width: vw(16);
            height: vw(16);
            @include absPosition(1px, null, null, 0);

            @include MQ_WIDE {
                width: 16px;
                height: 16px;
            }
        }
    }
}
