.header {
    background: #fff;
    box-sizing: border-box;
    padding: vw(20) 0;
    width: 100%;

    @include MQ_WIDE {
        padding: 36px 0;
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: vw(100);

    @include MQ_WIDE {
        width: 192px;
    }
}

.nav {
    display: flex;
    align-items: center;

    .contact__btn {
        border: 1px solid $primary-color;
        border-radius: 30px;
        transition: 0.3s;

        @include MQ_WIDE {
            padding: 12px 20px;
            margin-left: 54px;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}

.navmenu {
    margin-left: auto;
    color: $secondary-color;

    @include MQ_WIDE {
        display: flex;
    }

    :nth-of-type(n + 2) {
        @include MQ_WIDE {
            padding-left: 54px;
        }
    }
}

.menu__nrw img {
    width: 36px;
}
