.section__ttl {
    text-align: center;
    font-size: vw(26);
    font-weight: 500;
    color: $primary-color;
    margin: VW(120) auto 0;

    @include MQ_WIDE {
        font-size: 38px;
    }
    &._about {
        @include MQ_WIDE {
            text-align: left;
        }
    }
}

.ttl__border {
    width: vw(60);
    height: vw(4);
    background-color: $primary-color;
    border-radius: vw(10);
    margin: 0 auto;

    @include MQ_WIDE {
        border-radius: 6px;
        width: 90px;
        height: 6px;
    }

    &._about {
        margin: 0;

        @include MQ_NARROW {
            order: 1;
            margin: 0 auto;
        }
    }
}
