.about {
    background: #f8fbff;

    margin: vw(110) auto 0;
    position: relative;
    width: 100%;

    @include MQ_WIDE {
        margin-top: 170px;
    }

    &__inner {
        margin: 0 auto;
        padding: 0 5.3% vw(40);

        @include MQ_WIDE {
            width: 1020px;
            padding: 50px 0;
        }

        &.__about__inner {
            padding: 82px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include MQ_WIDE {
            gap: 0 60px;
            flex-direction: row;
        }
    }

    &__ph {
        position: relative;

        @include MQ_NARROW {
            order: 2;
            width: vw(188);
            margin: vw(80) 0 0;
        }
        @include MQ_WIDE {
            width: 280px;
        }

        span {
            z-index: 2;
        }

        &::before {
            @include absPosition(vw(-67), 0);
            background: $sky-color;
            border-radius: 50%;
            content: '';
            display: block;
            opacity: 0.1;
            width: vw(230);
            height: vw(230);
            z-index: 1;

            @include MQ_WIDE {
                @include absPosition(-84px, 0);
                width: 260px;
                height: 260px;
            }
        }

        &::after {
            @include absPosition(vw(-10), vw(-78));
            background: $green-color;
            border-radius: 50%;
            content: '';
            display: block;
            opacity: 0.1;
            width: vw(230);
            height: vw(230);
            z-index: 1;

            @include MQ_WIDE {
                @include absPosition(-14px, -89px);
                width: 260px;
                height: 260px;
            }
        }
    }

    &__read {
        @include MQ_WIDE {
            width: 568px;
        }
    }

    &__txt {
        color: $primary-color;
        margin: vw(50) 0 0;
        font-size: vw(14);

        @include MQ_WIDE {
            margin-top: 18px;
            font-size: 16px;
            padding: 0;
        }

        strong {
            font-size: vw(16);

            @include MQ_WIDE {
                font-size: 18px;
            }
        }
    }

    &__skill {
        display: flex;
        align-items: center;
        margin-top: 26px;

        li:last-child {
            padding-left: 20px;
        }
    }
}

.visible_nrw_skill {
    display: flex;

    @include MQ_WIDE {
        display: none;
    }
}

.waves {
    @include relPosition(vw(120), 0);
    width: 100%;
    height: vw(39);

    @include MQ_WIDE {
        @include relPosition(174px, 0);
        width: 100%;
        height: 60px;
    }
}

.parallax > use {
    animation: move_forever 23s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 6s;
}
@keyframes move_forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
