.about {
    background: #eff4fa;
    margin: vw(110) auto 0;
    position: relative;
    width: 100%;

    @include MQ_WIDE {
        margin-top: 170px;
    }

    &::before {
        background: linear-gradient(to right, #2eddff, #a8e36a);
        width: 100%;
        height: vw(6);
        @include absPosition(0);
        display: block;
        content: '';

        @include MQ_WIDE {
            height: 8px;
        }
    }

    &__inner {
        margin: 0 auto;
        padding: 0 5.3%;

        @include MQ_WIDE {
            width: 1020px;
            padding: 38px 0;
        }

        &.__about__inner {
            padding: 82px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include MQ_WIDE {
            gap: 0 60px;
            flex-direction: row;
        }
    }

    &__ph {
        position: relative;

        @include MQ_NARROW {
            order: 2;
            width: vw(188);
            margin: vw(80) 0 0;
        }
        @include MQ_WIDE {
            width: 280px;
        }

        span {
            z-index: 2;
        }

        &::before {
            @include absPosition(vw(-67), 0);
            background: $sky-color;
            border-radius: 50%;
            content: '';
            display: block;
            opacity: 0.1;
            width: vw(250);
            height: vw(250);
            z-index: 1;

            @include MQ_WIDE {
                @include absPosition(-105px, 0);
                width: 330px;
                height: 330px;
            }
        }

        &::after {
            @include absPosition(vw(-10), vw(-63));
            background: $green-color;
            border-radius: 50%;
            content: '';
            display: block;
            opacity: 0.1;
            width: vw(250);
            height: vw(250);
            z-index: 1;

            @include MQ_WIDE {
                @include absPosition(-14px, -94px);
                width: 330px;
                height: 330px;
            }
        }
    }

    &__read {
        @include MQ_WIDE {
            width: 568px;
        }
    }

    &__txt {
        color: $primary-color;
        margin: vw(50) 0 0;
        font-size: vw(14);

        @include MQ_WIDE {
            margin-top: 18px;
            font-size: 16px;
            padding: 0;
        }

        strong {
            font-size: vw(16);

            @include MQ_WIDE {
                font-size: 18px;
            }
        }
    }

    &__skill {
        display: flex;
        align-items: center;
        margin-top: 26px;

        li:last-child {
            padding-left: 20px;
        }
    }
}

.visible_nrw_skill {
    display: flex;

    @include MQ_WIDE {
        display: none;
    }
}
